*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
i{
    width: fit-content;
}
.hidden{
    display: none;
}
.menu{
    width: fit-content;
    margin-left: 12px;
    margin-top: 12px;
    cursor: pointer;
}
.tools{
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.tools>i{
    padding: 12px 0px 12px 0px;
    cursor: pointer;
}
#pencil-icon{
    cursor: pointer;
}
.pencil-container{
    display: flex;
    margin-top: 12px;   
    margin-bottom: 12px;   
}
.eraser_container{
    display: flex;
    margin-top: 12px;   
    margin-bottom: 12px; 
}
.color-container{
    display: flex;
    margin-left: 12px;
    cursor: pointer;
}
.color-container_box{
    width: 16px;
    height: 16px;
}
.color-container_black{
    background-color: black;
}
.color-container_blue{
    background-color: blue;
}
.color-container_red{
    background-color: red;
}
.scale-it{
    animation-name: scale_element;
    animation-duration: 2s;
}
@keyframes scale_element{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
.sticky_container{
    position: absolute;
    top: 15rem;
    left: 10rem;
    height: 250px;
    width: 250px;
    background-color: antiquewhite;
}
.sticky_container__head{
    height: 25px ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sticky_container__head__close{
    background-color: red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 0.5rem;
}
.sticky_container__head__minimize{
    background-color: green;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 0.5rem;
}
textarea{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}
img{
    height: 100%;
    width: 100%;
}